<!-- views/foods/edit.ejs-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit <%= pantryItem.foodName %></title>
</head>
<body>
    <%- include('../partials/_navbar.ejs') %>
    <h1> Edit <%= pantryItem.foodName %></h1>
    <form action="/users/<%= user._id %>/foods/<%= pantryItem._id %>?_method=PUT" method="POST">
        <label for="name">Item Name</label>
        <input type="text" name="foodName" value="<%= pantryItem.foodName %>"/>
        <button type="submit">Update Item!</button>
    </form>
</body>
</html>